body {
    background: ghostwhite;
    font-family: "Century Gothic", serif;
}

h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    text-align: center;
}

.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-kerning: normal;
}

nav {
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-brand {
    font-family: "Special Gothic Expanded One", serif;
    color: black;
    font-weight: bold;
}

.nav-item:hover {
    color:gray;
}

footer {

}